Source: gforge-backle-plugin
Maintainer: Sebastian Mancke <s.mancke@tarent.de>
Uploaders: Thorsten Glaser <t.glaser@tarent.de>
Section: contrib/web
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/smancke/gforge-backle-plugin

Package: gforge-backle-plugin
Architecture: all
Depends: backle,
         gforge-common,
         gforge-db-postgresql,
         gforge-web-apache2,
         ${misc:Depends}
Description: GForge plugin to integrate backle
 This FusionForge plugin integrates backle, the agile backlog management
 tool, into the forge’s menu structure.
